<div class="container">
    <div class="row">
        <h3> {{ dia_semana}}, {{ data_formatada }}. Hora: {{ hora }}</h3>
        <h3>Você cumpriu <span class="hora">{{ horas_completas_semana }}</span> horas semanais</h3>
        <div class="col-sm-6">
            <div class="jumbotron">
                <h3>Submeter Horas</h3>
                <form>
                    <table class="table table-striped">
                        <tr>
                            <td>Manhã</td>
                            <td>
                                <div class="checkbox">
                                    <label>
                                      <input ng-model="ponto.horarios.manha.ab" type="checkbox">
                                      A-B
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="checkbox">
                                    <label>
                                      <input ng-model="ponto.horarios.manha.cd" type="checkbox">
                                      C-D
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Tarde</td>
                            <td>
                                <div class="checkbox">
                                    <label>
                                      <input ng-model="ponto.horarios.tarde.ab" type="checkbox">
                                      A-B
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="checkbox">
                                    <label>
                                      <input ng-model="ponto.horarios.tarde.cd" type="checkbox">
                                      C-D
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Noite</td>
                            <td>
                                <div class="checkbox">
                                    <label>
                                      <input ng-model="ponto.horarios.noite.ab" type="checkbox">
                                      A-B
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="checkbox">
                                    <label>
                                      <input ng-model="ponto.horarios.noite.cd" type="checkbox">
                                      C-D
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <textarea name="name" rows="8" class="form-control" required="true" ng-model="ponto.comentario"></textarea>
                    <div class="row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary pull-right" ng-if="ponto == undefined"
                            ng-click="submeterHorasDoDia(ponto)">Enviar</button>
                            <button class="btn btn-primary pull-right" ng-if="ponto != undefined"
                            ng-click="submeterHorasDoDia(ponto)">Atualizar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-6">
            <div google-chart chart="chart" style="height:350px;"></div>
        </div>
    </div>
</div>
