<!DOCTYPE html>
<div class="container" ng-init="init()">
    <div class="row">
        <h3> {{ dia_semana}}, {{ data_formatada }}. Hora: {{ hora }}</h3>
        <h3>Você cumpriu <span class="hora">15</span>horas semanais</h3>
        <div class="col-sm-6">
            <div class="jumbotron">
                <h3>Submeter Horas</h3>
                <div class="row">
                    <table class="table table-striped">
                        <tr>
                            <td>
                                Manhã
                            </td>
                            <td>
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox">A-B
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox">C-D
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Tarde
                            </td>
                            <td>
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox">A-B
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox">C-D
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Noite
                            </td>
                            <td>
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox">A-B
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox">C-D
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div google-chart chart="myChartObject" style="height:350px;"></div>
        </div>
    </div>
</div>
