<div class="container" ng-if="isUserAuthenticated()">
  <nav class="navbar navbar-default bg-faded">
    <div class="navbar-header">
      <a href="/" class="navbar-brand mb-0">PONTUE</a>
    </div>
    <ul class="nav navbar-nav">
      <li ng-class="{ active: isActive('/inicio')}">
        <a href="/inicio">Início</a>
      </li>
      <li ng-class="{ active: isActive('/historico')}">
        <a href="historico">Histórico</a>
      </li>
      <li ng-class="{ active: isActive('/conta')}">
        <a href="conta">Conta</a>
      </li>
      <li>
        <a href="#" ng-click="logout()">Logout</a>
      </li>
    </ul>
  </nav>
</div>
