<div class="container" ng-if="isUserAuthenticated()">
  <nav class="navbar navbar-default bg-faded">
    <div class="navbar-header">
      <a href="/" class="navbar-brand mb-0">PONTUE</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/">Início</a>
      </li>
      <li class="">
        <a href="historico">Histórico</a>
      </li>
      <li class="">
        <a href="#">Conta</a>
      </li>
      <li>
        <a href="#" ng-click="logout()">Logout</a>
      </li>
    </ul>
  </nav>
</div>
